<%= render 'header' %>


<div id='about_title'>
  <h1>About</h1>
</div>

<div id='about_body'>
  <p>You are currently experiencing the digital glory that is the DevPoint Labs Winter 2015 cohort's Project Manager site. Here you will bear witness to the grandeur and greatness that these suple young minds have crafted with their skillfully wielded binary digits. Click on, and cursor forth into our divine realm. You and your kin are welcome here.</p>
</div>



<%= render 'footer' %>